In [122]:
!pip install tensorflow==2.16.1

Collecting tensorflow==2.16.1
  Downloading tensorflow-2.16.1-cp311-cp311-macosx_10_15_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: absl-py>=1.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (24.12.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (18.1.1)
Collecting ml-dtypes~=0.3.1 (from tensorflow==2.16.1)
  Using cached ml_dtypes-0.3.2-cp311-cp311-macosx_10_9_universal2.whl.metadata (20 kB)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (3.4.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (3.20.3)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (2.32.4)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (80.9.0)
Requirement already satisfied: six>=1.12.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (4.13.2)
Requirement already satisfied: wrapt>=1.11.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (1.69.0)
Collecting tensorboard<2.17,>=2.16 (from tensorflow==2.16.1)
  Using cached tensorboard-2.16.2-py3-none-any.whl.metadata (1.6 kB)
Collecting keras>=3.0.0 (from tensorflow==2.16.1)
  Downloading keras-3.10.0-py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (0.37.1)
Requirement already satisfied: numpy<2.0.0,>=1.23.5 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1) (1.26.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow==2.16.1) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow==2.16.1) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow==2.16.1) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.21.0->tensorflow==2.16.1) (2024.8.30)
Requirement already satisfied: markdown>=2.6.8 in /opt/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1) (2.2.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/anaconda3/lib/python3.11/site-packages (from astunparse>=1.6.0->tensorflow==2.16.1) (0.41.2)
Requirement already satisfied: rich in /opt/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow==2.16.1) (13.3.5)
Requirement already satisfied: namex in /opt/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow==2.16.1) (0.0.8)
Requirement already satisfied: optree in /opt/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow==2.16.1) (0.13.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /opt/anaconda3/lib/python3.11/site-packages (from werkzeug>=1.0.1->tensorboard<2.17,>=2.16->tensorflow==2.16.1) (2.1.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow==2.16.1) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow==2.16.1) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /opt/anaconda3/lib/python3.11/site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras>=3.0.0->tensorflow==2.16.1) (0.1.0)
Downloading tensorflow-2.16.1-cp311-cp311-macosx_10_15_x86_64.whl (259.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 259.6/259.6 MB 4.0 MB/s eta 0:00:0000:0100:02
Using cached ml_dtypes-0.3.2-cp311-cp311-macosx_10_9_universal2.whl (389 kB)
Using cached tensorboard-2.16.2-py3-none-any.whl (5.5 MB)
Downloading keras-3.10.0-py3-none-any.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 1.4 MB/s eta 0:00:00a 0:00:01
Installing collected packages: ml-dtypes, tensorboard, keras, tensorflow
  Attempting uninstall: ml-dtypes
    Found existing installation: ml-dtypes 0.2.0
    Uninstalling ml-dtypes-0.2.0:
      Successfully uninstalled ml-dtypes-0.2.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.15.2
    Uninstalling tensorboard-2.15.2:m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/4 [tensorboard]
      Successfully uninstalled tensorboard-2.15.2━━━━━━━━━━━━━ 1/4 [tensorboard]
  Attempting uninstall: keras[0m━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1/4 [tensorboard]
    Found existing installation: keras 2.15.0━━━━━━━━━━━━━━━━━ 1/4 [tensorboard]
    Uninstalling keras-2.15.0:0m╺━━━━━━━━━━━━━━━━━━━ 2/4 [keras]d]
      Successfully uninstalled keras-2.15.0[90m━━━━━━━━━━━━━━━━━━━ 2/4 [keras]
  Attempting uninstall: tensorflow90m╺━━━━━━━━━━━━━━━━━━━ 2/4 [keras]
    Found existing installation: tensorflow 2.15.0━━━━━━━━━━━━ 2/4 [keras]
    Uninstalling tensorflow-2.15.0:━━━╺━━━━━━━━━ 3/4 [tensorflow]
      Successfully uninstalled tensorflow-2.15.0━━━━━━━━━ 3/4 [tensorflow]
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [tensorflow]4 [tensorflow]
Successfully installed keras-3.10.0 ml-dtypes-0.3.2 tensorboard-2.16.2 tensorflow-2.16.1

In [123]:
!pip install -r requirements.txt

Requirement already satisfied: streamlit==1.45.1 in /opt/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 1)) (1.45.1)
Requirement already satisfied: tensorflow==2.16.1 in /opt/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 2)) (2.16.1)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 3)) (1.6.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (2.2.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (from -r requirements.txt (line 5)) (1.26.4)
Requirement already satisfied: altair<6,>=4.0 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (8.1.7)
Requirement already satisfied: packaging<25,>=20 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (23.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (10.2.0)
Requirement already satisfied: protobuf<7,>=3.20 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (3.20.3)
Requirement already satisfied: pyarrow>=7.0 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (20.0.0)
Requirement already satisfied: requests<3,>=2.27 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (2.32.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (8.2.2)
Requirement already satisfied: toml<2,>=0.10.1 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (4.13.2)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in /opt/anaconda3/lib/python3.11/site-packages (from streamlit==1.45.1->-r requirements.txt (line 1)) (6.3.3)
Requirement already satisfied: absl-py>=1.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (1.6.3)
Requirement already satisfied: flatbuffers>=23.5.26 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (24.12.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (3.12.1)
Requirement already satisfied: libclang>=13.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (18.1.1)
Requirement already satisfied: ml-dtypes~=0.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (0.3.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (3.4.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (80.9.0)
Requirement already satisfied: six>=1.12.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (2.5.0)
Requirement already satisfied: wrapt>=1.11.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (1.69.0)
Requirement already satisfied: tensorboard<2.17,>=2.16 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (2.16.2)
Requirement already satisfied: keras>=3.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (3.10.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorflow==2.16.1->-r requirements.txt (line 2)) (0.37.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 4)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 4)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.11/site-packages (from pandas->-r requirements.txt (line 4)) (2023.3)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit==1.45.1->-r requirements.txt (line 1)) (3.1.3)
Requirement already satisfied: jsonschema>=3.0 in /opt/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit==1.45.1->-r requirements.txt (line 1)) (4.19.2)
Requirement already satisfied: narwhals>=1.14.2 in /opt/anaconda3/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit==1.45.1->-r requirements.txt (line 1)) (1.42.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit==1.45.1->-r requirements.txt (line 1)) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit==1.45.1->-r requirements.txt (line 1)) (5.0.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit==1.45.1->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit==1.45.1->-r requirements.txt (line 1)) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit==1.45.1->-r requirements.txt (line 1)) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests<3,>=2.27->streamlit==1.45.1->-r requirements.txt (line 1)) (2024.8.30)
Requirement already satisfied: markdown>=2.6.8 in /opt/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1->-r requirements.txt (line 2)) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /opt/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1->-r requirements.txt (line 2)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from tensorboard<2.17,>=2.16->tensorflow==2.16.1->-r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn->-r requirements.txt (line 3)) (3.5.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/anaconda3/lib/python3.11/site-packages (from astunparse>=1.6.0->tensorflow==2.16.1->-r requirements.txt (line 2)) (0.41.2)

Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from jinja2->altair<6,>=4.0->streamlit==1.45.1->-r requirements.txt (line 1)) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.45.1->-r requirements.txt (line 1)) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.45.1->-r requirements.txt (line 1)) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.45.1->-r requirements.txt (line 1)) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/anaconda3/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit==1.45.1->-r requirements.txt (line 1)) (0.10.6)
Requirement already satisfied: rich in /opt/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow==2.16.1->-r requirements.txt (line 2)) (13.3.5)
Requirement already satisfied: namex in /opt/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow==2.16.1->-r requirements.txt (line 2)) (0.0.8)
Requirement already satisfied: optree in /opt/anaconda3/lib/python3.11/site-packages (from keras>=3.0.0->tensorflow==2.16.1->-r requirements.txt (line 2)) (0.13.1)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow==2.16.1->-r requirements.txt (line 2)) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.11/site-packages (from rich->keras>=3.0.0->tensorflow==2.16.1->-r requirements.txt (line 2)) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /opt/anaconda3/lib/python3.11/site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras>=3.0.0->tensorflow==2.16.1->-r requirements.txt (line 2)) (0.1.0)

In [124]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [125]:
#load the dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [126]:
#drop irrelevant features - preprocess the data
data=data.drop(["RowNumber", "CustomerId", "Surname"], axis=1)

In [127]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [128]:
#encode categorical variable
label_encoder_gender=LabelEncoder()
data["Gender"]=label_encoder_gender.fit_transform(data["Gender"])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [129]:
#onehotencode geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder()
geo_encoder=onehot_encoder_geo.fit_transform(data[["Geography"]])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [130]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [131]:
onehot_encoder_geo.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [132]:
#convert into sparse value
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))

In [133]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [134]:
#combine encolder columns with opriginal data
data=pd.concat([data.drop("Geography", axis=1),geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [135]:
#Save the encoders and scalers
with open("label_encoder_gender.pkl", "wb") as file:
    pickle.dump(label_encoder_gender, file)
    
with open("onehot_encoder_geo.pkl","wb") as file:
    pickle.dump(onehot_encoder_geo,file)

In [136]:
#decide the dataset into independent and dependent variable
X=data.drop("Exited", axis=1)
y=data["Exited"]

#split the data into training and testing set
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2,random_state=42)

#scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [137]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [138]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

In [139]:
#ANN Implementation - sequential network-interconnected nodes
#train
#sequential
#dense = how many nodes you need in hidden layer
#activation function- sigmoid, tahn, relu, leaky relu
#optimizer - useful in backl propagation-useful in updating weights
#loss function- reduce loss -gradient descent
#metrics - accuracy, mse, mae
#training-logs, folder - tensorboard -visualization

In [140]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [141]:
#Xtrain.shape - no.of columns = input nodes

In [142]:
#build our Ann model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), #hl1 connected with input layer
    Dense(32,activation="relu"), # hl2
    Dense(1,activation="sigmoid") # output layer
    
])

In [143]:
#parameters - combinational of weights and bias
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [144]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [145]:
#compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=["accuracy"])

In [146]:
#set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=tensorflow_callback=TensorBoard(log_dir=log_dir)

In [147]:
#set up Early Stopping - can train for any number of epochs 
# if nly 20 epochs at batch levels and it's not changing any more no need for 100 epochs
# if loss value is no longer decreasing - no need to run the training

early_stopping_callback=EarlyStopping(monitor="val_loss", patience=10, restore_best_weights=True)

In [148]:
# Train the model
history=model.fit(X_train, y_train,validation_data=(X_test,y_test),epochs=100,callbacks=[tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 0.4010 - accuracy: 0.8310 - val_loss: 0.3535 - val_accuracy: 0.8480
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3557 - accuracy: 0.8550 - val_loss: 0.3487 - val_accuracy: 0.8535
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3478 - accuracy: 0.8595 - val_loss: 0.3487 - val_accuracy: 0.8540
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8570 - val_loss: 0.3502 - val_accuracy: 0.8610
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8606 - val_loss: 0.3407 - val_accuracy: 0.8595
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8616 - val_loss: 0.3411 - val_accuracy: 0.8525
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8634 - val_loss: 0.3422 - val_accuracy: 0.8560
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3320 - accuracy: 0.8639 - val_loss: 0.3413 - val_accuracy: 0.8560
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3293 - accuracy: 0.8649 - val_loss: 0.3420 - val_accuracy: 0.8575
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3268 - accuracy: 0.8689 - val_loss: 0.3457 - val_accuracy: 0.8600
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8671 - val_loss: 0.3450 - val_accuracy: 0.8580
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3251 - accuracy: 0.8660 - val_loss: 0.3406 - val_accuracy: 0.8635
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3222 - accuracy: 0.8656 - val_loss: 0.3464 - val_accuracy: 0.8645
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3195 - accuracy: 0.8698 - val_loss: 0.3461 - val_accuracy: 0.8615
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3169 - accuracy: 0.8716 - val_loss: 0.3601 - val_accuracy: 0.8620
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3166 - accuracy: 0.8702 - val_loss: 0.3391 - val_accuracy: 0.8660
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3127 - accuracy: 0.8700 - val_loss: 0.3581 - val_accuracy: 0.8585
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3135 - accuracy: 0.8711 - val_loss: 0.3500 - val_accuracy: 0.8595
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3070 - accuracy: 0.8734 - val_loss: 0.3550 - val_accuracy: 0.8525
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3039 - accuracy: 0.8752 - val_loss: 0.3620 - val_accuracy: 0.8545
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3031 - accuracy: 0.8773 - val_loss: 0.3598 - val_accuracy: 0.8525
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3037 - accuracy: 0.8756 - val_loss: 0.3588 - val_accuracy: 0.8535
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2991 - accuracy: 0.8733 - val_loss: 0.3664 - val_accuracy: 0.8630
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3004 - accuracy: 0.8751 - val_loss: 0.3603 - val_accuracy: 0.8590
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2943 - accuracy: 0.8786 - val_loss: 0.3776 - val_accuracy: 0.8525
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2927 - accuracy: 0.8777 - val_loss: 0.3865 - val_accuracy: 0.8485

In [149]:
model.save('model.keras')

In [150]:
#load TensorBoard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [151]:
%tensorboard --logdir logs/fit20250613-213245

Reusing TensorBoard on port 6007 (pid 1516), started 11:13:31 ago. (Use '!kill 1516' to kill it.)

In [153]:
from tensorflow.keras.models import load_model

# load the tarined model, scaler pickle, onehot
model=load_model('model.keras')

#load the encoder and scaler
with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)
    
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [154]:
#example input data
input_data={
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [155]:
print("TensorFlow version:", tf.__version__)

TensorFlow version: 2.15.0

In [156]:
import sys
print("Python version:", sys.version)

Python version: 3.11.7 (main, Dec 15 2023, 12:09:04) [Clang 14.0.6 ]

In [157]:
# one hot encode 'Geography'
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

/opt/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [158]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [159]:
#encode categorical variables
input_df["Gender"]=label_encoder_gender.transform(input_df["Gender"])

In [160]:
#concat one hot encoded
input_df=pd.concat([input_df.drop("Geography", axis=1),geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [161]:
#scaling the input data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [162]:
#Predict churn
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 73ms/step

array([[0.01554235]], dtype=float32)

In [163]:
#prediction probability
prediction_proba=prediction[0][0]
prediction_proba

0.01554235

In [164]:
if prediction_proba > 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn.")

The customer is not likely to churn.